@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-4xl font-bold leading-[4rem];
}

h2 {
    @apply text-3xl font-medium leading-[3rem];
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
    text-shadow:
        0 4px 8px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
    text-shadow:
        0 15px 30px rgba(0, 0, 0, 0.11),
        0 5px 15px rgba(0, 0, 0, 0.08);
}

body,
html {
    position: fixed;
    overflow: hidden;
    overscroll-behavior: none;
}

@font-face {
    font-family: 'LyricFont';
    src: url('/font.otf') format('opentype');
    font-weight: 600; /* Semibold weight */
}
